<h1>{{title}}</h1>
<button type="button" class="btn btn-sm btn-success" (click)="exportTable()">导出</button>
<nav>
  <a routerLink="/dashboard">Dashboard</a><br>
  <a routerLink="/heroes">Heroes</a>
</nav>
<!--显示app-heroes视图-->
<!--<app-heroes></app-heroes>-->
<!--之所以移除 <app-heroes>，是因为只有当用户导航到这里时，才需要显示 HeroesComponent。
<router-outlet> 会告诉路由器要在哪里显示路由的视图。
能在 AppComponent 中使用 RouterOutlet，是因为 AppModule 导入了 AppRoutingModule，
而 AppRoutingModule 中导出了 RouterModule。-->
<router-outlet></router-outlet>
<app-messages></app-messages>
<app-web-socket></app-web-socket>
